* {
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    background-color: #ffffff;
    color: #000000;
}

.container {
    max-width: 270px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.header__inner {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0px 23px;
    min-height: 30px;
    width: 100%;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 21px;
    height: 17px;
}

.logo p {
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #000000;
    margin-left: 4px;
}

.logo p:hover {
    color: #EC7A36;
}

.menu {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
}


/* Возможно из-за этого сбился бар */

.menu__hamburger-logo {
    min-width: 320px;
    z-index: 3;
    padding-top: 11px;
    padding-bottom: 11px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.menu__hamburger-logo a {
    display: block;
    padding: 12px 24px;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 16px;
}

#menu__toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
    background-color: #ffffff;
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
    background-color: #ffffff;
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #ffffff;
}

#menu__toggle:checked~.menu__list {
    visibility: visible;
    left: 0;
}

#menu__toggle:checked~.menu__hamburger-logo {
    visibility: visible;
    right: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 8px;
    right: 22px;
    width: 24px;
    height: 12px;
    cursor: pointer;
    z-index: 10;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #FB9559;
}

.menu__btn>span::before {
    content: '';
    top: 6px;
}

.menu__btn>span::after {
    content: '';
    top: -6px;
}

.menu__list {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    text-align: left;
    background-color: #FB9559;
}

.menu__list-item {
    border-bottom: 1px solid #ffffff;
}

.menu__list-item a {
    display: block;
    padding: 12px 24px;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    color: #171717;
    text-transform: uppercase;
    align-items: center;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: all .5s;
}

.menu__list-item a:hover {
    color: #171717;
    background-color: #ffffff;
}

.submenu {
    position: absolute;
    top: 100%;
    width: 150%;
    right: 0;
    z-index: 10;
    transition: 0.5s ease-in-out;
}

.submenu__lang {
    position: absolute;
    top: 100%;
    width: 30%;
    right: 50px;
    z-index: 10;
    transition: 0.5s ease-in-out;
}

.submenu li {
    text-align: right;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 12px 15px;
    color: #171717;
}

.menu__lang ul {
    background-color: #ffffff;
}

.submenu__lang li {
    text-align: right;
    font-size: 8px;
    line-height: 14px;
    text-transform: uppercase;
    padding: 12px 15px;
    color: #171717;
}

.submenu__link {
    text-align: left;
    font-size: 10px;
    line-height: 18px;
    text-transform: uppercase;
    color: #171717;
    padding: 12px 15px;
}

.menu__lang-link {
    font-size: 10px;
    line-height: 14px;
    font-weight: 500;
    color: #222222;
    text-transform: uppercase;
    top: 10px;
    margin-right: 32px;
    order: 1;
}

.menu__lang-item {
    display: flex;
    justify-content: center;
}

.menu .submenu,
.menu .submenu__lang {
    display: none;
}

.menu ul li:hover .submenu,
.menu ul li:hover .submenu__lang {
    display: block;
}

.top__video {
    position: relative;
    padding-bottom: 100%;
    z-index: -1;
}

.top__video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}

.services_title {
    padding-top: 30px;
    padding-bottom: 34px;
}

.portfolio_title {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin-top: 77px;
    margin-bottom: 33px;
}

.services__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.services__img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FB9559;
    border-radius: 50%;
    height: 148px;
    width: 148px;
    margin: 0 auto;
}

.services__item {
    max-height: 243px;
    margin-bottom: 30px;
}

.services__img img {
    width: 74px;
    height: 74px;
}

.services__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: center;
    width: 237px;
    margin: 0 auto;
    margin-top: 16px;
}

.services__subtitle {
    font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #7B7B7B;
    text-align: center;
    margin-top: 8px;
}

.portfolio__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.portfolio__item {
    max-height: 277px;
    margin-bottom: 31px;
}

.portfolio__img img {
    width: 235px;
    height: 235px;
}

.portfolio__title {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    margin-top: 23px;
}

.portfolio__active {
    display: flex;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 64px;
}

.portfolio__active a {
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.06em;
    align-items: center;
    color: rgba(255, 99, 5, 0.83);
    border-bottom: 1px solid rgba(255, 99, 5, 0.83);
}

@media(min-width: 576px) {
    .container {
        max-width: 488px;
        margin: 0 auto;
    }
    .header {
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 25px;
        min-height: 35px;
    }
    .logo {
        display: flex;
        align-items: center;
    }
    .logo img {
        width: 32px;
        height: 27px;
    }
    .logo p {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.06em;
        margin-left: 10px;
    }
    .menu__inner {
        width: 100%;
    }
    .menu__btn {
        top: 10px;
    }
    .menu__inner {
        width: 65%;
    }
    .menu__list-item {
        display: flex;
        text-align: left;
        position: relative;
        margin-right: 10px;
    }
    .menu__lang-item {
        display: flex;
        justify-content: center;
    }
    .menu__lang-link {
        font-size: 12px;
        line-height: 12px;
    }
    .title {
        font-size: 35px;
        line-height: 48px;
        margin: 55px 0px 60px 0px;
    }
    .services__item {
        margin-bottom: 80px;
    }
    .services__img {
        height: 150px;
        width: 150px;
    }
    .services__img img {
        width: 80px;
        height: 80px;
    }
    .services__title {
        font-size: 18px;
        line-height: 25px;
        margin-top: 16px;
    }
    .services__subtitle {
        font-size: 12px;
        line-height: 23px;
        margin-top: 26px;
    }
    .portfolio__title {
        font-size: 16px;
        line-height: 18px;
    }
}

@media(min-width: 768px) {
    .container {
        max-width: 680px;
        margin: 0 auto;
    }
    #menu__toggle {
        display: none;
    }
    .menu__btn {
        display: none;
    }
    .header {
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    .header__inner {
        padding: 0px 25px;
        min-height: 50px;
    }
    .logo img {
        width: 40px;
        height: 32px;
    }
    .logo p {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.06em;
        margin-left: 17px;
    }
    .menu ul {
        background-color: #ffffff;
    }
    .menu__hamburger-logo {
        display: none;
    }
    .menu__inner {
        display: flex;
        justify-content: flex-end;
        width: 72%;
    }
    .menu {
        width: 600px;
    }
    .menu__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        text-align: center;
        visibility: visible;
        width: 75%;
        max-height: 50px;
        left: 0;
        margin-right: 10px;
    }
    .menu__list-item {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 5px;
        border: none;
    }
    .menu__list-item a {
        display: flex;
        font-size: 10px;
        line-height: 14px;
        color: #171717;
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0;
        transition: all .5s;
    }
    .menu__lang-item {
        display: flex;
        justify-content: center;
    }
    .menu__lang-link {
        font-size: 10px;
        line-height: 14px;
        margin-right: 0px;
        color: #171717;
        z-index: 2;
    }
    .submenu {
        position: absolute;
        top: 220%;
        width: 150%;
        right: 0;
        z-index: 10;
        transition: 0.5s ease-in-out;
    }
    .submenu__lang {
        position: absolute;
        top: 100%;
        width: 15%;
        right: 20px;
        transition: 0.5s ease-in-out;
    }
    .submenu li {
        text-align: left;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        padding: 12px 15px;
    }
    .submenu__lang {
        text-align: left;
    }
    .submenu__link {
        text-align: left;
        font-size: 10px;
        line-height: 18px;
        text-transform: uppercase;
        color: #171717;
        padding: 12px 15px;
    }
    .top__video {
        position: relative;
        padding-bottom: 0%;
    }
    .top__video video {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .title {
        font-size: 35px;
        line-height: 48px;
        margin: 45px 0px 50px 0px;
    }
    .portfolio_title {
        font-size: 35px;
        line-height: 48px;
        margin-top: 55px;
        margin-bottom: 55px;
    }
    .services__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 90%;
    }
    .services__item {
        margin-bottom: 75px;
    }
    .services__img {
        height: 150px;
        width: 150px;
    }
    .services__img img {
        width: 80px;
        height: 80px;
    }
    .portfolio__inner {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media(min-width: 992px) {
    .container {
        max-width: 860px;
        margin: 0 auto;
    }
    .header__inner {
        min-height: 60px;
        padding: 0px 30px;
    }
    .logo img {
        width: 64px;
        height: 51px;
    }
    .logo p {
        font-size: 20px;
        line-height: 28px;
        margin-left: 17px;
    }
    .menu {
        width: 100%;
        display: flex;
    }
    .menu__inner {
        width: 69%;
    }
    .menu__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .menu__list-item {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 20px;
    }
    .menu__list a {
        font-size: 10px;
        line-height: 18px;
    }
    .menu__list {
        position: relative;
        display: inline-block;
    }
    .submenu__lang {
        top: 85%;
        width: 10%;
        right: 20px;
    }
    .menu__lang-link {
        font-size: 10px;
        line-height: 18px;
    }
    .submenu__lang li {
        font-size: 10px;
        line-height: 18px;
        padding: 12px 15px;
    }
    .menu ul {
        display: flex;
    }
    .title {
        font-size: 35px;
        line-height: 48px;
        margin: 85px 0px 100px 0px;
    }
    .services__inner {
        width: 100%;
    }
    .services__item {
        margin-bottom: 125px;
    }
    .services__img {
        height: 200px;
        width: 200px;
    }
    .services__img img {
        width: 80px;
        height: 80px;
    }
    .services__title {
        font-size: 16px;
        line-height: 25px;
        margin-top: 16px;
    }
    .services__subtitle {
        font-size: 14px;
        line-height: 23px;
        margin-top: 26px;
    }
    .portfolio__inner {
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin-right: 0;
    }
    .portfolio__item {
        margin-right: 35px;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }
    .header__inner {
        min-height: 80px;
    }
    .menu__inner {
        width: 75%;
    }
    .logo img {
        width: 64px;
        height: 51px;
    }
    .menu__list a {
        font-size: 12px;
        line-height: 18px;
    }
    .menu__lang-link {
        font-size: 12px;
        line-height: 18px;
    }
    .submenu li {
        font-size: 12px;
        line-height: 18px;
    }
    .submenu__lang li {
        font-size: 12px;
        line-height: 18px;
    }
    .menu ul {
        display: flex;
    }
    .services__item {
        width: 33%;
    }
    .services__title {
        font-size: 18px;
        line-height: 25px;
        margin-top: 16px;
    }
    .services__subtitle {
        font-size: 16px;
        line-height: 23px;
        margin-top: 26px;
    }
    .portfolio__inner {
        width: 100%;
        margin-right: 0;
    }
    .portfolio_title {
        font-size: 40px;
        line-height: 50px;
        font-weight: 400;
        letter-spacing: 0.06em;
        color: #000000;
        text-transform: uppercase;
        text-align: center;
        margin-top: 135px;
        margin-bottom: 100px;
    }
    .portfolio__item {
        margin-right: 10px;
    }
    .portfolio__title {
        font-size: 20px;
        line-height: 30px;
    }
    .portfolio__active a {
        font-size: 19px;
        line-height: 31px;
    }
}

@media(min-width:1400px) {
    .container {
        max-width: 1400px;
        margin: 0 auto;
    }
    .header__inner {
        align-items: center;
        padding: 0px 40px;
        min-height: 100px;
    }
    .logo img {
        width: 86px;
        height: 68px;
    }
    .logo p {
        font-size: 30px;
        line-height: 38px;
        letter-spacing: 0.06em;
        margin-left: 17px;
    }
    .menu__inner {
        max-width: 100%;
        width: 69%;
    }
    .menu {
        justify-content: flex-end;
    }
    .menu__list {
        display: flex;
        justify-content: space-between;
        max-width: 661px;
        width: 100%;
    }
    .menu__list-item {
        display: inline-block;
        position: relative;
        margin-right: 23 px;
    }
    .menu__list a {
        font-size: 16px;
        line-height: 20px;
    }
    .menu__list {
        position: relative;
        display: inline-block;
    }
    .submenu {
        top: 100%;
        width: 150%;
        right: 0;
    }
    .menu__lang {
        margin-left: 15px;
    }
    .menu__lang-link {
        font-size: 16px;
        line-height: 20px;
    }
    .submenu__lang {
        top: 60%;
        width: 10%;
        right: 20px;
    }
    .submenu li {
        font-size: 14px;
        line-height: 18px;
    }
    .submenu__lang li {
        font-size: 14px;
        line-height: 18px;
    }
    .top__video {
        position: relative;
        z-index: -1;
    }
    .top__video video {
        width: 100%;
        height: 100%;
    }
    .title {
        font-size: 40px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 0.06em;
        margin-top: 50px;
        margin-bottom: 70px;
    }
    .services__inner {
        width: 100%;
    }
    .services__item {
        max-width: 33%;
        max-height: 281px;
        margin-bottom: 93px;
    }
    .services__img img {
        width: 100px;
        height: 100px;
    }
    .services__title {
        font-size: 20px;
        line-height: 25px;
        margin-top: 16px;
        width: 320px;
    }
    .services__subtitle {
        font-size: 18px;
        line-height: 23px;
        font-weight: 400;
        text-align: center;
        margin-top: 17px;
    }
    .portfolio__item {
        max-height: 290px;
        margin-bottom: 34px;
    }
    .portfolio__img img {
        width: 249px;
        height: 247px;
    }
    .portfolio__title {
        font-size: 24px;
        line-height: 30px;
        margin-top: 13px;
    }
    .portfolio__active a {
        font-size: 25px;
        line-height: 31px;
        margin-top: 55px;
    }
}