* {
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    background-color: #ffffff;
    color: #000000;
}

a {
    text-decoration: none;
}

.header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.header__inner {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0px 23px;
    min-height: 30px;
    width: 100%;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 21px;
    height: 17px;
}

.logo p {
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #000000;
    margin-left: 4px;
}

.menu {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.menu__btn {
    display: block;
    width: 24px;
    height: 15px;
    cursor: pointer;
    z-index: 10;
    order: 2;
}

.menu__btn span {
    display: block;
    background-color: #EC7A36;
    margin-bottom: 3px;
    height: 3px;
}

.menu__list {
    display: none;
}

.menu__list a {
    font-size: 6px;
    line-height: 12px;
    color: #171717;
    text-transform: uppercase;
    transition: all .5s;
}

.menu__list a:hover {
    color: #EC7A36;
    text-decoration: underline;
}

.menu__lang-link {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.06em;
    font-weight: 500;
    color: #222222;
    text-transform: uppercase;
    top: 10px;
    margin-right: 10px;
    order: 1;
}

.menu__lang-item {
    display: flex;
    justify-content: center;
}

.submenu {
    position: absolute;
    top: 100%;
    width: 150%;
    right: 0;
    z-index: 10;
    transition: 0.5s ease-in-out;
}

.submenu__lang {
    position: absolute;
    top: 100%;
    width: 30%;
    right: 50px;
    z-index: 10;
    transition: 0.5s ease-in-out;
}

.submenu li {
    text-align: right;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 12px 15px;
}

.submenu__lang li {
    text-align: right;
    font-size: 8px;
    line-height: 14px;
    text-transform: uppercase;
    padding: 12px 15px;
}

.menu ul {
    background-color: #ffffff;
}

.menu ul a {
    color: #171717;
}

.menu .submenu,
.menu .submenu__lang {
    display: none;
}

.menu ul li:hover .submenu,
.menu ul li:hover .submenu__lang {
    display: block;
}

.top__video {
    position: relative;
    padding-bottom: 100%;
    z-index: -1;
}

.top__video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0px 35px 0px;
}

.services__inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px 20px;
}

.services__item {
    text-align: center;
    align-items: center
}

.services__img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FB9559;
    border-radius: 50%;
    height: 148px;
    width: 148px;
    margin: 0 auto;
}

.services__img img {
    width: 74px;
    height: 74px;
}

.services__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: center;
    width: 300px;
    height: auto;
    margin: 0 auto;
    margin-top: 17px;
}

.services__subtitle {
    font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #7B7B7B;
    text-align: center;
    margin-top: 16px;
}

.portfolio_title {
    margin: 60px 0px 40px 0px;
}

.portfolio__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.portfolio__img img {
    width: 234px;
    height: 234px;
}

.portfolio__title {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 19px 0px 30px 0px;
}

.portfolio__active {
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: rgba(255, 99, 5, 0.83);
    border-bottom: 1px solid rgba(255, 99, 5, 0.83);
    margin-bottom: 64px;
}

.gallery__header {
    padding: 0 26px;
}

.gallery__menu {
    display: flex;
    justify-content: center;
}

.gallery__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
}

.gallery__menu-item {
    display: flex;
    justify-content: space-between;
}

.gallery__menu-link {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.06em;
    color: #000000;
}

.gallery__menu-link--active {
    border-bottom: 3px solid #EC7A36;
}

@media(min-width: 576px) {
    .container {
        max-width: 688px;
        margin: 0 auto;
    }
    .header {
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 25px;
        min-height: 35px;
    }
    .logo {
        display: flex;
        align-items: center;
    }
    .logo img {
        width: 32px;
        height: 27px;
    }
    .logo p {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #000000;
        margin-left: 10px;
    }
    .logo p:hover {
        color: #EC7A36;
    }
    .menu__inner {
        max-width: 100%;
    }
    .menu__btn {
        display: block;
    }
    .menu__list {
        display: none;
    }
    .menu__list-item {
        display: flex;
        justify-content: center;
        position: relative;
        margin-right: 10px;
    }
    .menu__lang-item {
        display: flex;
        justify-content: center;
    }
    .menu__lang-link {
        font-size: 12px;
        line-height: 12px;
    }
    .title {
        font-size: 35px;
        line-height: 48px;
        margin: 55px 0px 60Ñ‹px 0px;
    }
    .services__inner {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 35px 70px;
    }
    .services__img {
        height: 150px;
        width: 150px;
    }
    .services__img img {
        width: 80px;
        height: 80px;
    }
    .services__title {
        font-size: 18px;
        line-height: 25px;
        margin-top: 16px;
    }
    .services__subtitle {
        font-size: 12px;
        line-height: 23px;
        margin-top: 26px;
    }
}

@media(min-width: 768px) {
    .container {
        max-width: 688px;
        margin: 0 auto;
    }
    .menu__btn {
        display: none;
    }
    .header {
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    .header__inner {
        padding: 0px 25px;
        min-height: 50px;
    }
    .logo img {
        width: 40px;
        height: 32px;
    }
    .logo p {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #000000;
        margin-left: 17px;
    }
    .menu {
        display: flex;
    }
    .menu__list {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .menu__list-item {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 10px;
    }
    .menu__list a {
        font-size: 8px;
        line-height: 14px;
        color: #171717;
        text-transform: uppercase;
        transition: all .5s;
    }
    .submenu {
        position: absolute;
        top: 220%;
        width: 150%;
        right: 0;
        z-index: 10;
        transition: 0.5s ease-in-out;
    }
    .submenu__lang {
        position: absolute;
        top: 100%;
        width: 10%;
        right: 20px;
        transition: 0.5s ease-in-out;
    }
    .menu__lang-item {
        display: flex;
        justify-content: center;
    }
    .menu__lang-link {
        font-size: 8px;
        line-height: 14px;
        text-transform: uppercase;
    }
    .submenu li {
        text-align: right;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        padding: 12px 15px;
    }
    .submenu__lang li {
        text-align: right;
        font-size: 8px;
        line-height: 14px;
        text-transform: uppercase;
        padding: 12px 15px;
    }
    .top__video {
        position: relative;
        padding-bottom: 0%;
    }
    .top__video video {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .title {
        font-size: 35px;
        line-height: 48px;
        margin: 85px 0px 100px 0px;
    }
    .services__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 35px 70px;
    }
    .services__img {
        height: 150px;
        width: 150px;
    }
    .services__img img {
        width: 80px;
        height: 80px;
    }
}

@media(min-width: 992px) {
    .container {
        max-width: 960px;
        margin: 0 auto;
    }
    .header__inner {
        min-height: 60px;
        padding: 0px 30px;
    }
    .logo img {
        width: 64px;
        height: 51px;
    }
    .logo p {
        font-size: 20px;
        line-height: 28px;
        margin-left: 17px;
    }
    .menu {
        display: flex;
    }
    .menu__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .menu__list-item {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 20px;
    }
    .menu__list a {
        font-size: 10px;
        line-height: 18px;
    }
    .menu__list {
        position: relative;
        display: inline-block;
    }
    .submenu__lang {
        top: 85%;
        width: 10%;
        right: 20px;
    }
    .menu__lang-link {
        font-size: 10px;
        line-height: 18px;
    }
    .submenu__lang li {
        font-size: 10px;
        line-height: 18px;
        padding: 12px 15px;
    }
    .menu ul {
        display: flex;
    }
    .title {
        font-size: 35px;
        line-height: 48px;
        margin: 85px 0px 100px 0px;
    }
    .services__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 35px 70px;
    }
    .services__img {
        height: 200px;
        width: 200px;
    }
    .services__img img {
        width: 80px;
        height: 80px;
    }
    .services__title {
        font-size: 16px;
        line-height: 25px;
        margin-top: 16px;
    }
    .services__subtitle {
        font-size: 14px;
        line-height: 23px;
        margin-top: 26px;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }
    .header__inner {
        min-height: 80px;
    }
    .logo img {
        width: 64px;
        height: 51px;
    }
    .menu__list a {
        font-size: 12px;
        line-height: 18px;
    }
    .menu__lang-link {
        font-size: 12px;
        line-height: 18px;
    }
    .submenu li {
        font-size: 12px;
        line-height: 18px;
    }
    .submenu__lang li {
        font-size: 12px;
        line-height: 18px;
    }
    .menu ul {
        display: flex;
    }
    .services__inner {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 35px 70px;
    }
    .services__title {
        font-size: 18px;
        line-height: 25px;
        margin-top: 16px;
    }
    .services__subtitle {
        font-size: 16px;
        line-height: 23px;
        margin-top: 26px;
    }
}

@media(min-width:1400px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .header__inner {
        align-items: center;
        padding: 0px 40px;
        min-height: 100px;
    }
    .logo img {
        width: 86px;
        height: 68px;
    }
    .logo p {
        font-size: 30px;
        line-height: 38px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #000000;
        margin-left: 17px;
    }
    .menu__inner {
        max-width: 100%;
        width: 69%;
    }
    .menu {
        justify-content: flex-end;
    }
    .menu__list {
        display: flex;
        justify-content: space-between;
        max-width: 71%;
        width: 100%;
    }
    .menu__list-item {
        display: inline-block;
        position: relative;
        margin-right: 20px;
    }
    .menu__list a {
        font-size: 16px;
        line-height: 20px;
    }
    .menu__list {
        position: relative;
        display: inline-block;
    }
    .submenu {
        top: 100%;
        width: 150%;
        right: 0;
    }
    .menu__lang {
        margin-left: 15px;
    }
    .menu__lang-link {
        font-size: 16px;
        line-height: 20px;
    }
    .submenu__lang {
        top: 60%;
        width: 10%;
        right: 20px;
    }
    .submenu li {
        font-size: 14px;
        line-height: 18px;
    }
    .submenu__lang li {
        font-size: 14px;
        line-height: 18px;
    }
    .top__video {
        position: relative;
        z-index: -1;
    }
    .top__video video {
        width: 100%;
        height: 100%;
    }
    .title {
        font-size: 40px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 0.06em;
        margin: 85px 0px 100px 0px;
    }
    .services__inner {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 35px 150px;
    }
    .services__img img {
        width: 100px;
        height: 100px;
    }
    .services__title {
        font-size: 20px;
        line-height: 25px;
        margin-top: 16px;
    }
    .services__subtitle {
        font-size: 18px;
        line-height: 23px;
        font-weight: 400;
        text-align: center;
        margin-top: 26px;
    }
}